@define-mixin atSmall{
	@media (min-width: 530px){
		@mixin-content;
	}
}
@define-mixin atMedium{
	@media (min-width: 800px){
		@mixin-content;
	}
}
@define-mixin atLarge{
	@media (min-width: 1010px){
		@mixin-content;
	}
}
@define-mixin atXLarge{
	@media (min-width: 1200px){
		@mixin-content;
	}
}
@define-mixin atMediumHeight{
	@media (min-height: 700px){
		@mixin-content;
	}
}
@define-mixin atLargeHeight{
	@media (min-height: 1000px){
		@mixin-content;
	}
}
@define-mixin clearfix{
	&::after{
		content: "";
		clear: both;
		display: table;
	}
}