.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 27px;
    font-family: "PT Sans";
    font-weight: 500;
    background-color: rgba(199, 78, 131, 0.28);
    color: white;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 10px 38px;
    width: 280px;
    border: 1px solid white;
    z-index: 2;
    &:hover{
        background-color: $mainPink;
        cursor: pointer;
        border: 1px solid $mainPink;
        box-shadow: -1.544px -0.59px 7px 0px rgba(0, 0, 0, 0.35);
    }
}