.large-hero{
	position: relative;
	text-align: left;
	overflow: hidden;
	height: 96vh;
	&__tab-title{
		padding-bottom: 4.1875rem;
		margin: 0 auto;
		font-size: 3.6875rem;
		font-family: "Pt Sans";
		font-style: italic;
		font-weight: bold;
		font-variant: small-caps;
		color: rgb(199, 78, 131);
		letter-spacing: 20px;
	}
	&__fit-pregnancy{
		text-align: center;		
		height: auto;
	}
	&__image{
			width: 100vw;
			height: 100vh;
			object-fit: cover;
			&__fit-pregnancy{
				width: auto;
				height: auto;
			}
	}
	&__CTA-container{
		position: absolute;
		top: 20%;
		left: 20%;
		width: 600px;
	}	
	&__CTA{
		position: relative;		
		margin: 0;
		font-size: 1.3rem;
		font-family: "PT Sans";
		font-weight: bold;
		font-style: italic;			
		line-height: 1.2;
		text-transform: uppercase;		
		color: $mainBlue;
		text-shadow: -2.544px -1.59px 7px rgba(0, 0, 0, 0.35);
		/*transform: scaleY(1.2);*/
		/* font-weight: 400; */
		/* letter-spacing: 2px;		 */
		@mixin atSmall{			
			font-size: 2.28rem;			
		}
		@mixin atLarge{
			font-size: 39.25px;			
		}
	}
	&__learn-more-btn{
		position: absolute;
		left: 50px;
		top: 157px;
		font-size: 18.62px;
		font-family: "PT Sans";
		font-weight: 500;
		background-color: rgba(199, 78, 131, 0.28);
		color: white;
		font-style: italic;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		padding: 7px 38px;
		width: 189px;
		border: 1px solid white;
		&:hover{
			background-color: $mainPink;
			cursor: pointer;
			border: 1px solid $mainPink;
			box-shadow: -1.544px -0.59px 7px 0px rgba(0, 0, 0, 0.35);
		}
		
	}
}
  