@font-face {
  font-family: 'pt-sans-b-i-ios';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/ios-font/pt-sans-b-i/pt_sans-web-bolditalic-b-i-new.eot');
  src: url('../../assets/ios-font/pt-sans-b-i/pt_sans-web-bolditalic-b-i-new.eot?#iefix') format('embedded-opentype'),
       url('../../assets/ios-font/pt-sans-b-i/pt_sans-web-bolditalic-b-i-new.woff2') format('woff2'),
       url('../../assets/ios-font/pt-sans-b-i/pt_sans-web-bolditalic-b-i-new.woff') format('woff'),
       url('../../assets/ios-font/pt-sans-b-i/pt_sans-web-bolditalic-b-i-new.ttf') format('truetype');
}
.large-hero{
	position: relative;
	text-align: left;
	overflow: hidden;
	height: 95vh;
	&__category-name--no-letter-spacing{
		letter-spacing: 0;
	}
	&__tab-title{
		position: relative;
		top: 2px;
		padding-bottom: 2.5rem;
		margin: 0 auto;		
		font-family: "pt-sans-b-i-ios", sans-serif;	
		/*font-style: italic;		*/
		font-variant: small-caps;
		color: rgb(199, 78, 131);
		letter-spacing: 10px;
		@mixin atMedium{
			font-size: 2.8rem;
		}
		@mixin atLarge{
			font-size: 3.6875rem;
			letter-spacing: 20px;
			padding-bottom: 4.1875rem;
		}
		&--colored{
			color: $mainPurple;
		}
		&--colored-b{
			color: $mainBlue;
		}
	}
	&__fit-pregnancy{
		text-align: center;		
		height: auto;
	}
	&__image{
			width: 100vw;
			height: 95vh;
			object-fit: cover;
			&__fit-pregnancy{
				width: auto;
				height: auto;
				@mixin atLarge{
					max-width: 1100px;
				}
			}
			&__modal{
				height: 100vh;
			}
			&__sub-category{
				width: 100vw;
				height: auto;
			}
			
	}
	&__CTA-container{		
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background: linear-gradient(rgba(255, 250, 250, 0)75%, #fafafa);
		@mixin atLarge{
			background: none;
		}
	}	
	&__CTA{
		
		position: absolute;
		z-index: 1;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 375px;
		text-align: center;
		margin: 0;
		font-size: 1.2rem;
		font-family: "PT Sans";
		font-weight: bold;
		font-style: italic;			
		line-height: 1.2;
		text-transform: uppercase;		
		color: $mainPink;		
		&__top{
			visibility: visible;
			opacity: 1;			
			transition: all .2s ease-in;	
			&--is-hidden{
				visibility: hidden;
				opacity: 0;
				top: -75px;
			}
		}
		&--polish{
			letter-spacing: 1px;
		}		
		@mixin atSmall{
			top: 18px;
			font-size: 1.4rem;
		}
		&--small{
			
			font-size: 0.7rem;
			@mixin atSmall{
				font-size: 1rem;
			}
		}
		&--normal{
			font-size: 1.1rem;
		}
		&--large{
			font-size: 1.2rem;
		}
	}
	&__learn-more-btn{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 110px;
		font-size: 1.164rem;
		font-family: "PT Sans";
		font-weight: 500;
		background-color: rgba(199, 78, 131, 0.38);
		color: white;
		font-style: italic;
		text-transform: uppercase;
		line-height: 1.2;
		text-align: center;
		padding: 7px 38px;
		width: 190px;
		border: 1px solid white;
		&:hover{
			background-color: $mainPink;
			cursor: pointer;
			border: 1px solid $mainPink;
			box-shadow: -1.544px -0.59px 7px 0px rgba(0, 0, 0, 0.35);
		}	
		@mixin atLarge{
			font-size: 1.264rem;
			width: 210px;
			padding: 10px 38px;
		}	
	}
	&__mobile-svg-bg{
		position: relative;
		visibility: visible;
		top: -1px;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
		
		width: 20px;
		transition: all .2s ease-in;
		&--is-hidden{
			top: -76px;
			visibility: hidden;
			opacity: 0;
		}
		@mixin atSmall{
			transform: translateX(-50%) scale(1.4);
		}
	}	
	&__modal{
		object-fit: cover;
		max-width: none;
		
	}
	&--max-width{
		margin: 0 auto;
		max-width: 1100px;
		text-align: center;
	}
}


