.primary-nav{
	li{		
		position: relative;
		padding-top: 10px;	
		&::after{
			position: absolute;
			top: 24px;
			left: 0;
			content: "";
			width: 0px;
			height: 1.5px;
			background-color: $mainPink;			
			left: 50%;
			transform: translateX(-50%);			
			-webkit-transition: width 0.3s ease-in-out;
			-moz-transition: width 0.3s ease-in-out;
			transition: width 0.3s ease-in-out;	
		}
		@mixin atMedium{			
			display: inline-block;
			margin-right: 25px;
			padding-top: 5px;
			float: right;
			list-style: none;
			&:first-child{
				margin-right: 0;
			}
		}
		@mixin atLarge{
			margin-right: 55px;			
		}
		@mixin atXLarge{
			margin-right: 75px;
		}
		a{
			color: $mainBlue;
			-webkit-transition: color .2s ease-in-out;
			-moz-transition: color .2s ease-in-out;
			transition: color .2s ease-in-out;
		}
		&:hover{
			a{
				color: $mainPink;
			}
			@mixin atLarge{
				&::after{
					content: "";
					width: 100%;
				}	
			}
		}
	}
	a{
		font-size: 1.0375rem;
	}
	ul{		
		margin: 0;
		margin-top: -4px;
		&::after{
			content: "";
			clear: both;
			display: table;
		}
		@mixin atMedium{
			padding: 0;
		}
	}
}