.primary-nav{
	/*li:first-child{
		padding-top: 0;
		@mixin atMedium{
			padding-top: 5px;
		}
	}*/
	li{
		padding-top: 10px;		
		@mixin atSmall{
			display: inline-block;
			padding-right: 25px;
		}
		@mixin atMedium{
			padding-top: 5px;
			float: right;
			list-style: none;
		}
	}
	a{
		font-size: 0.9375rem ;
	}
	ul{		
		/*padding: 10px 0;*/
		margin: 0;
		margin-top: -4px;
		&::after{
			content: "";
			clear: both;
			display: table;
		}
		@mixin atMedium{
			padding: 0;
		}
	}
}