.row{
	@mixin clearfix;
	height: 33.33%;

	&--txt-align-c{
		text-align: center;
	}
	&--txt-align-r{
		text-align: right;
	}
	&__relative{
		position: relative;
	}

	&--gutters{
		margin-right: -120px;
	}
	&--gutters > div{
		padding-right: 120px;
	}
	@mixin atMedium{
		&--gutters{
			margin-right: -50px;
		}
		&--gutters > div{
			padding-right: 50px;
		}	
	}
	&--gutters-small{
		margin-right: 0px;
	}
	&--gutters-small > div{
		padding-right: 0px;
	}
	@mixin atSmall{
		&__small-4{
			width: 33.33%;
			float: left;
		}
	}
	@mixin atMedium{
		&__medium-4{
			width: 33.33%;
			float: left;
		}
		&__medium-6{
			width: 50%;
			float: left;			
		}
		&__relative{
			position: relative;
		}
	}

	@mixin atLarge{
		&__large-4{
			width: 33.33%;
			float: left;
		}
		&__large-6{
			position: relative;
			width: 50%;
			height: 100%;
			float: left;
			overflow: hidden;
		}
		&__stores--p-bottom-at-large{
			margin-bottom: 165px;
		}
		&__stores--mt-large{
			margin-top: 2px;
		}
		&__stores--mb-large{
			margin-bottom: 2px;
		}
	}

	.flexbox &--equal-height-at-medium{
		@mixin atMedium{
			display: flex;
		}
		& > div {
			float: none;
			display: flex;
		}
	}
}